@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


@media screen and (min-width: 300px) {
    html,body {
        padding-top: 50px;
        margin: 0;
        font-family: Montserrat, sans-serif;
        font-size: 35px;

    }
    .header {
        color: #131212;
        font-size: 2.81rem;
        font-weight: 900;
        font-style: normal;
    }
    .sub-header {
        color: #131212;
        font-size: 1.56rem;
        width: 20rem;
        font-weight: 400;
    }
    .hi-img {
        width: 2.5rem;
        height: 2.5rem;
        background: url("img/hi_emoji.png");
        background-size: cover;
    }

    .container {
        width: 85%;
        margin: auto;
    }
    .link-open-work-black {
        display: inline-block;
        font-family: Roboto, sans-serif;
        line-height: 1.18rem;
        color: #131212;
        margin-bottom: 1.18rem;;
    }
    .card-list {
        margin-top: 6.25rem;
        margin-bottom: 10rem;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fill, 100%);
        justify-content: center;
        grid-gap: 3.125rem;
    }
    .card {
        position: relative;
        width: 100%;
        height: 21.875rem;
        display: block;
        border: 0.0625rem solid #131212;
    }
    .write-me {
        position: absolute;
        right: 2rem;

        display: inline-block;
    }
}

@media screen and (min-width: 1024px) {
    html,body {
        padding-top: 30px;
        margin: 0;
        font-family: Montserrat, sans-serif;
        font-size: 11px;

    }
    .header {
        color: #131212;
        font-size: 2.81rem;
        font-weight: 900;
        text-align: center;
        font-style: normal;
    }
    .sub-header {
        color: #131212;
        font-size: 1.56rem;
        width: 33.4375rem;
        font-weight: 400;
        text-align: center;
        margin: auto;
    }
    .hi-img {
        width: 2.8125rem;
        height: 2.8125rem;
        margin: auto;
        background: url("img/hi_emoji.png");
        background-size: cover;
    }
    .container {
        width: 80%;
        margin: auto;
    }
    .link-open-work-black {
        display: none;
        font-family: Roboto, sans-serif;
        line-height: 1.18rem;
        color: #131212;
        margin-bottom: 1.18rem;;
    }
    .card-list {
        margin-top: 6.25rem;
        margin-bottom: 10rem;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fill, 21.875rem);
        justify-content: center;
        grid-gap: 3.125rem;
    }
    .card {
        position: relative;
        width: 21.875rem;
        height: 21.875rem;
        display: block;
        border: 0.0625rem solid #131212;
    }
    .write-me {
        position: absolute;
        right: 3.25rem;

        display: inline-block;
    }
}
@media screen and (min-width: 1200px) {
    html, body {
        padding-top: 30px;
        margin: 0;
        font-family: Montserrat, sans-serif;
        font-size: 13px;

    }

}
@media screen and (min-width: 1440px) {
    html, body {
        padding-top: 30px;
        margin: 0;
        font-family: Montserrat, sans-serif;
        font-size: 16px;

    }

}
@media screen and (min-width: 1920px) {
    html,body {
        padding-top: 30px;
        margin: 0;
        font-family: Montserrat, sans-serif;
        font-size: 20px;

    }
}
@media screen and (min-width: 2300px) {
    html,body {
        padding-top: 30px;
        margin: 0;
        font-family: Montserrat, sans-serif;
        font-size: 25px;

    }
}

.link-open-work {
    font-family: Roboto, sans-serif;
    line-height: 1.18rem;;
    color: #FFFFFF;
    display: inline-block;
    margin-bottom: 1.18rem;;
}
.items-view ul {
    margin-left: 0;
    list-style-type: none;
    padding: 0;
    margin-bottom: 10%;
}
.items-view li:before {
    content: "—";
    padding-right: 0.31rem;
}
.items-view {
    display: none;
    position: absolute;
    left: 7.14%;
    right: 5.14%;
    top: 18%;
    line-height: 1.56rem;
    color: #FFFFFF;
}

.card-in-process {
    display: flex;
    position: absolute;
    left: 23.43%;
    bottom: 4.86%;
    background-color: #7B61FF;
    color: white;
    height: 1.875rem;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
}
.card-in-process span {
    margin-top: 0.31rem;
}
.card:hover {
    background: #131212;
}
.card:hover .items-view {
    display: block;
}
.card:hover .card-head-text {
    color: #FFFFFF;
    opacity: 0.5;
}
.card:hover .card-year {
    color: #FFFFFF;
}
.card:hover .card-block-description {
    display: none;
}
.card-header {
    position: absolute;
    left: 1.56rem;
    color: #131212;
}
.card-head-text {
    top: 1.625rem;
}

.card-block-description {
    position: absolute;
    left: 7.14%;
    right: 6.86%;
    top: 26.29%;
}
.card-description {


    font-weight: 900;
    font-size: 1.31rem;
    line-height: 1.875rem;
    margin-bottom: 3rem;

    letter-spacing: -0.01rem;

    color: #131212;
}

.card-year {
    bottom: 1.4375rem;
    opacity: 0.5;
}


.root-write {
    position: relative;
    height: 1.4375rem;
    margin-bottom: 2rem;
}


.write-me a {
    color: #131212;
}
.icon-write-white {
    margin-left: 0.625rem;
    margin-bottom: -0.375rem;
    width: 1.375rem;
    height: 1.375rem;
    background: url("img/arrow_write_white.png");
    background-size: cover;
    display: inline-block;
}
.icon-write {
    margin-left: 0.625rem;
    margin-bottom: -0.375rem;
    width: 1.375rem;
    height: 1.375rem;
    background: url("img/arrow_write.png");
    background-size: cover;
    display: inline-block;
}
